@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Explore Luxurious Hotels</h1>
    	<div class="container">
		<div class="item">
			<img src="https://media.istockphoto.com/id/104731717/photo/luxury-resort.jpg?s=612x612&w=0&k=20&c=cODMSPbYyrn1FHake1xYz9M8r15iOfGz9Aosy9Db7mI=" alt="Luxury Resort">
		</div>
		<div class="item">
			<img src="https://samchui.com/wp-content/uploads/2018/07/St-Regis-Dubai-Luxury-Hotel-in-Dubai-Exterior-Shot.jpg" alt="St Regis Dubai Luxury Hotel">
		</div>
		<div class="item">
			<img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/106257638.jpg?k=4dd13a3f0f19081704cd50ee377462f2d13ea0662e577576e98bedc711005334&o=&hp=1" alt="Hotel Room">
		</div>
		<div class="item">
			<img src="https://media.cntraveler.com/photos/6320d726fae6e445e2494b55/master/w_1600,h_1067,c_limit/nobu-hotel-london-portman-square-lobby-2-conde-nast-traveller-09dec20-jack-hardy.jpg" alt="Nobu Hotel London">
		</div>
		<div class="item">
			<img src="https://content.r9cdn.net/res/images/horizon/ui/seoCommon/destinationtiles/seo_hotels.jpg?v=aeb8c67f83d5b9fd53ca97055fc8402800bf3ce4&cluster=4" alt="Hotel Room">
		</div>
		<div class="item">
			<img src="https://www.themayflowerhotel.com/wp-content/uploads/sites/22/2019/10/the-mayflower-hotel-exterior-lights.jpg" alt="The Mayflower Hotel">
		</div>
		<div class="item">
			<img src="https://media.istockphoto.com/id/185084845/photo/luxurious-hotel-room.jpg?s=612x612&w=0&k=20&c=m2ub3QHAb_lKb7yAduxi9gr7BXWGDp9pdh4Un7mJ5ds=" alt="Luxurious Hotel Room">
		</div>
		</div>
</div>

<style>
    h1{
        color:white;
    }
			.container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			width:1000px;
		}

		.item {
			flex: 0 0 23%;
			margin-bottom: 20px;
			text-align: center;
		}

		.item img {
			max-width: 100%;
			height: auto;
		}
</style>
